.moviecard {
    display: inline-block;
    margin: 5px 0;
    width: 50%;
    min-height: 150px;
    float: left;
}
.moviecard p {
    word-wrap: break-word;
    text-align: justify;
    padding: 0 50px 0 0;
}
.image {
    display: inline-block;
    float: left;
}
.image img {
    object-fit: cover;
    object-position: center;
}
.info {
    display: inline-block;
    padding-left: 25px;
    height: 150px;
}
.info h2,
.info h4 {
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: normal;
}
.info h4 {
    margin-top: 0;
}
.info span {
    display: block;
    margin-top: 0;
    margin-bottom: 5px;
}
.info p {
    margin-top: 0;
}
